@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

@font-face {
  font-family: 'HarryPotter';
  src: local('HarryPotter'),
    url(../../fonts/harry-potter.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-first: 'HarryPotter', sans-serif;
$font-second: 'Open Sans Condensed', sans-serif;

$color-card: #e0d9d1;
$color-dark: #000;
$color-medium: #999;
$color-text: #333;
