@import 'core/variables';
@import 'core/mixins';
@import 'core/reset';

body {
  background-color: $color-dark;
  color: $color-card;
  font-family: sans-serif;
  font-size: 10px;

  @include tablet {
    background: url('../images/stars.jpg') no-repeat fixed center;
    background-size: cover;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 350px);
  margin: 20px;

  @include tablet {
    flex-direction: row;
    width: 740px;
    min-height: calc(100vh - 375px);
    margin: 20px auto;
  }

  @include desktop {
    width: 910px;
  }
}
