@import 'core/variables';
@import 'core/mixins';

.detail {
  width: 400px;
  margin: 5px auto;

  &__button {
    color: $color-white;
    font-size: 1.6em;
  }

  &__image {
    width: 250px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 4em;
    font-weight: bold;
    margin: 10px 0;
  }

  &__subtitle {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: #666;
    border-bottom: 1px solid #333;
  }

  &__shield {
    width: 40px;
    margin-right: 10px;
  }

  &__text,
  &__list,
  &__item,
  &__message {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  &__item {
    font-size: inherit;
  }

  &__message {
    margin: 0 auto;
    margin-top: 40px;
  }
}
