@import 'core/variables';
@import 'core/mixins';

.detail {
  font-family: $font-second;
  margin: 5px auto;
  display: flex;
  flex-direction: column;

  &__button {
    font-family: $font-second;
    font-size: 2em;
    background-color: $color-dark;
    border: none;
    color: $color-card;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: fit-content;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__title {
    font-size: 5em;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: #999;
    border-bottom: 1px solid $color-card;
    text-transform: uppercase;
  }

  &__shield {
    width: 40px;
    margin-right: 10px;
  }

  &__image {
    width: 250px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__text,
  &__list,
  &__item,
  &__message {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  &__item {
    font-size: inherit;
  }

  &__message {
    margin: 0 auto;
    margin-top: 40px;
  }
}
