@import 'core/variables';
@import 'core/mixins';

.character {
  &__link {
    color: $color-dark;
  }

  &__image-container {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 0;
    width: calc(50vw - 40px);
    padding-bottom: 100%;

    @include tablet {
      width: 150px;
      height: 150px;
    }
  }

  &__image {
    width: 100%;
    //object-fit: fill;

    @include tablet {
      width: 150px;
    }
  }

  &__title {
    width: 100%;
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 5px;
    word-spacing: 100vw;
    text-transform: uppercase;
    color: $color-dark;

    @include tablet {
      font-size: 1.8em;
    }
  }

  &__text {
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 5px;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.message {
  font-size: 1.6em;
  margin: 0 auto;

  @include tablet {
    margin-top: 40px;
  }
}
