@import 'core/variables';
@import 'core/mixins';

.character {
  &__link {
    color: $color-dark;
  }

  &__image-container {
    width: calc(50vw - 40px);
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    padding-bottom: 100%;
    margin-bottom: 10px;

    @include tablet {
      width: 150px;
      height: 150px;
    }
  }

  &__image {
    width: 100%;

    @include tablet {
      width: 150px;
    }
  }

  &__title {
    font-size: 1.6em;
    line-height: 1.2em;
    color: $color-dark;
    width: 100%;
    margin: 5px;
    text-transform: uppercase;
    word-spacing: 100vw;

    @include tablet {
      font-size: 2em;
    }
  }

  &__text {
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 5px;
    text-transform: capitalize;

    /* 
    &:first-letter {
      text-transform: capitalize;
    }
    */
  }
}

.message {
  font-size: 1.6em;
  margin: 0 auto;
  margin-bottom: 20px;

  @include tablet {
    margin-top: 40px;
  }
}
