@import 'core/variables';
@import 'core/mixins';

.character {
  &__list {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      width: 100%;
      height: min-content;
    }
  }

  &__item {
    font-family: $font-second;
    background-color: $color-card;
    width: calc(50vw - 30px);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;

    @include tablet {
      width: min-content;
    }
  }
}
