@import 'core/variables';
@import 'core/mixins';

.filter {
  &__form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    font-size: 1.4em;
  }

  &__label {
    color: $color-white;
    margin-bottom: 10px;
  }

  &__input {
    font-size: inherit;
    color: $color-white;
    border: 1px solid #f5f5f5;
    background-color: $color-black;
    padding: 5px;
    margin-bottom: 20px;

    &--checkbox {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}
